<form  (ngSubmit)="onSubmit(stateFrm)"  [formGroup]="stateFrm">  
  <h2>{{data.modalTitle}}</h2>  
    
  <div>  
      <mat-form-field appearance="outline">  
      <mat-label>State Name</mat-label>  
      <input matInput placeholder="State Name" formControlName="StateName">  
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->  
      <!-- <mat-hint>Hint</mat-hint> -->  
      <mat-error *ngIf="formErrors.StateName">  
        {{ formErrors.StateName }}  
      </mat-error>  
    </mat-form-field>  
  </div>
  <!-- <div>  
    <mat-form-field appearance="outline">  
    <mat-label>Country ID</mat-label>  
    <input matInput placeholder="Country ID" formControlName="CountryID">  
    <mat-error *ngIf="formErrors.CountryID">  
      {{ formErrors.CountryID }}  
    </mat-error>  
  </mat-form-field>  
</div>   -->


<div>
  <mat-form-field appearance="outline">  
    <mat-select placeholder="Select a Country" formControlName="CountryID">  
      <mat-option>-- None --</mat-option>  
      <mat-option *ngFor="let country  of countries" [value]="country.CountryID">  
        {{ country.CountryName }}  
      </mat-option>  
    </mat-select>  
    <mat-error *ngIf="formErrors.CountryID ">  
      {{ formErrors.CountryID }}  
    </mat-error>  
  </mat-form-field>  
</div>

<div>  
  <mat-form-field appearance="outline">  
  <mat-label>User ID</mat-label>  
  <input matInput placeholder="UserID" formControlName="UserID">  
  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->  
  <!-- <mat-hint>Hint</mat-hint> -->  
  <!-- <mat-error *ngIf="formErrors.UserID">  
    {{ formErrors.UserID }}  
  </mat-error>   -->
</mat-form-field>  
</div>

<div>  
  <mat-form-field appearance="outline">  
  <mat-label>Country Name</mat-label>  
  <input matInput placeholder="Country Name" formControlName="CountryName">  
  <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->  
  <!-- <mat-hint>Hint</mat-hint> -->  
  <!-- <mat-error *ngIf="formErrors.UserID">  
    {{ formErrors.UserID }}  
  </mat-error>   -->
</mat-form-field>  
</div>
  
  <div>  
    
    <button type="button" mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>   
    <button type="submit" mat-raised-button color="primary" [disabled]="stateFrm.invalid">{{data.modalBtnTitle}}</button>  
  </div>  
    
  </form> 