<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <!-- <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && username.errors }" />
        <div *ngIf="submitted && this.loginForm.controls.username.errors" class="invalid-feedback">
            <div *ngIf="username.errors.required">Username is required</div>
        </div>
    </div> -->


    <div>  
        <mat-form-field appearance="outline">  
        <mat-label>username</mat-label>  
        <input matInput placeholder="usename" formControlName="username">  
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->  
        <!-- <mat-hint>Hint</mat-hint> -->  
        <mat-error *ngIf="formErrors.username">  
          {{ formErrors.username }}  
        </mat-error>  
      </mat-form-field>  
    </div>


    <!-- <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && password.errors }" />
        <div *ngIf="submitted && password.errors" class="invalid-feedback">
            <div *ngIf="password.errors.required">Password is required</div>
        </div>
    </div> -->

    <div>  
        <mat-form-field appearance="outline">  
        <mat-label>password</mat-label>  
        <input matInput placeholder="password" formControlName="password">  
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->  
        <!-- <mat-hint>Hint</mat-hint> -->  
        <mat-error *ngIf="formErrors.password">  
          {{ formErrors.password }}  
        </mat-error>  
      </mat-form-field>  
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Login</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a [routerLink]="['/register']" class="btn btn-link">Register</a>
    </div>
</form>