<form  (ngSubmit)="onSubmit(eventFrm)"  [formGroup]="eventFrm">  
  <h2>{{data.modalTitle}}</h2>  
    
  <div>  
      <mat-form-field appearance="outline">  
      <mat-label>Event Name</mat-label>  
      <input matInput placeholder="Event Name" formControlName="EventName">  
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->  
      <!-- <mat-hint>Hint</mat-hint> -->  
      <mat-error *ngIf="formErrors.EventName">  
        {{ formErrors.EventName }}  
      </mat-error>  
    </mat-form-field>  
  </div>  
  <div>  
    <mat-form-field appearance="outline">  
      <mat-label>Event Description</mat-label>  
      <!-- <input type="email" matInput placeholder="email" formControlName="email">   -->
      <input matInput placeholder="Event Description" formControlName="EventDescription">
      <mat-error *ngIf="formErrors.EventDescription">  
        {{ formErrors.EventDescription }}  
      </mat-error>  
    </mat-form-field>  
    
  </div> 
  <div>  
    <mat-form-field appearance="outline">  
      <mat-label>Event Address</mat-label>  
      <!-- <input type="email" matInput placeholder="email" formControlName="email">   -->
      <input matInput placeholder="Event Address" formControlName="EventAddress">
      <mat-error *ngIf="formErrors.EventAddress">  
        {{ formErrors.EventAddress }}  
      </mat-error>  
    </mat-form-field>  
  </div>  
  <!-- <p>  
      <mat-radio-group class="contact-radio-group" formControlName="gender" >  
        <mat-radio-button class="contact-radio-button" *ngFor="let gndr of genders" [value]="gndr.id">  
          {{ gndr.name }}  
        </mat-radio-button>  
      </mat-radio-group>  
      <mat-error *ngIf="formErrors.gender">  
        {{ formErrors.gender }}  
      </mat-error>  
  </p>   -->
  <div>  
    <mat-form-field appearance="outline">  
        <mat-label>Start Date</mat-label>
      <input matInput [matDatepicker]="picker1" placeholder="Choose start date" formControlName="EventStartDate">  
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>  
      <mat-datepicker #picker1></mat-datepicker>  
      
    <mat-error *ngIf="formErrors.EventStartDate ">  
      {{ formErrors.EventStartDate }}  
    </mat-error>  
    </mat-form-field>  
  </div>  

      <div>  
          <mat-form-field appearance="outline">  
              <mat-label>End Date</mat-label>  
            <input matInput [matDatepicker]="picker2" placeholder="Choose end date" formControlName="EventEndDate">  
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>  
            <mat-datepicker #picker2></mat-datepicker>  
            
          <mat-error *ngIf="formErrors.EventEndDate ">  
            {{ formErrors.EventEndDate }}  
          </mat-error>  
          </mat-form-field>  
        </div>  

        <div>  
          <mat-form-field appearance="outline">  
            <mat-label>Start Time</mat-label>  
            <!-- <input type="email" matInput placeholder="email" formControlName="email">   -->
            <input matInput placeholder="Start Time" formControlName="EventStartTime">
            
            <mat-error *ngIf="formErrors.EventStartTime">  
              {{ formErrors.EventStartTime}}  
            </mat-error>  
          </mat-form-field>  
        </div> 

        <div>  
          <mat-form-field appearance="outline">  
            <mat-label>End Time</mat-label>  
            <!-- <input type="email" matInput placeholder="email" formControlName="email">   -->
            <input matInput placeholder="End Time" formControlName="EventEndTime">
            <!-- <mat-error *ngIf="formErrors.EventEndTime">  
              {{ formErrors.EventEndTime }}  
            </mat-error>   -->
          </mat-form-field>  
        </div> 

        <!-- <div>  
            <mat-label>Occurence Type</mat-label>  
          <mat-radio-group class="contact-radio-group" formControlName="EventOccurence" >  
            <mat-radio-button class="contact-radio-button" *ngFor="let option of OccurenceOptions" [value]="option.value">  
              {{ option.name }}  
            </mat-radio-button>  
          </mat-radio-group>  
          <mat-error *ngIf="formErrors.EventOccurence">  
            {{ formErrors.EventOccurence }}  
          </mat-error>  
        </div>  -->


        <div>
            <mat-form-field appearance="outline">  
                <mat-label>Occurence Type</mat-label> 
              <mat-select placeholder="Select Occurence Type" formControlName="EventOccurence">  
                <mat-option>-- None --</mat-option>  
                <mat-option *ngFor="let option  of OccurenceOptions" [value]="option.value">  
                    {{ option.name }}  
                </mat-option>  
              </mat-select>  
              <mat-error *ngIf="formErrors.EventOccurence ">  
                {{ formErrors.EventOccurence }}  
              </mat-error>  
            </mat-form-field>  
          </div>






        <div>  
          <mat-form-field appearance="outline">  
            <mat-label>Venue Latitude</mat-label>  
            <!-- <input type="email" matInput placeholder="email" formControlName="email">   -->
            <input matInput placeholder="Venue Latitude" formControlName="EventVenueLatitude">
            <!-- <mat-error *ngIf="formErrors.EventVenueLatitude">  
              {{ formErrors.EventVenueLatitude }}  
            </mat-error>   -->
          </mat-form-field>  
        </div> 

        <div>  
          <mat-form-field appearance="outline">  
            <mat-label>Venue Longitude</mat-label>  
            <!-- <input type="email" matInput placeholder="email" formControlName="email">   -->
            <input matInput placeholder="Event Venue Longitude" formControlName="EventVenueLongitude">
            <!-- <mat-error *ngIf="formErrors.EventVenueLongitude">  
              {{ formErrors.EventVenueLongitude }}  
            </mat-error>   -->
          </mat-form-field>  
        </div> 



        <div>
          <mat-form-field appearance="outline">  
              <mat-label>Country</mat-label> 
            <mat-select placeholder="Select a Country" formControlName="CountryID">  
              <mat-option>-- None --</mat-option>  
              <mat-option *ngFor="let country  of countries" [value]="country.CountryID">  
                {{ country.CountryName }}  
              </mat-option>  
            </mat-select>  
            <mat-error *ngIf="formErrors.CountryID ">  
              {{ formErrors.CountryID }}  
            </mat-error>  
          </mat-form-field>  
        </div>



        <div>
          <mat-form-field appearance="outline">  
              <mat-label>State</mat-label> 
            <mat-select placeholder="Select a State" formControlName="StateID">  
              <mat-option>-- None --</mat-option>  
              <mat-option *ngFor="let state of states" [value]="state.StateID">  
                {{ state.StateName }}  
              </mat-option>  
            </mat-select>  
            <mat-error *ngIf="formErrors.StateID ">  
              {{ formErrors.StateID }}  
            </mat-error>  
          </mat-form-field>  
        </div>


        <div>
          <mat-form-field appearance="outline">  
              <mat-label>City</mat-label> 
            <mat-select placeholder="Select a City" formControlName="CityID">  
              <mat-option>-- None --</mat-option>  
              <mat-option *ngFor="let city of cities" [value]="city.CityID">  
                {{ city.CityName }}  
              </mat-option>  
            </mat-select>  
            <mat-error *ngIf="formErrors.CityID ">  
              {{ formErrors.CityID }}  
            </mat-error>  
          </mat-form-field>  
        </div>
        
   

        <div>
          <mat-form-field appearance="outline">  
              <mat-label>Area</mat-label> 
            <mat-select placeholder="Select a Area" formControlName="AreaID">  
              <mat-option>-- None --</mat-option>  
              <mat-option *ngFor="let area of areas" [value]="area.AreaID">  
                {{ area.AreaName }}  
              </mat-option>  
            </mat-select>  
            <mat-error *ngIf="formErrors.AreaID ">  
              {{ formErrors.AreaID }}  
            </mat-error>  
          </mat-form-field>  
        </div>
 


        <!-- <div>  
          <mat-form-field appearance="outline">  
            <mat-label>AreaID</mat-label>  
            <input matInput placeholder="AreaID" formControlName="AreaID">
            <mat-error *ngIf="formErrors.AreaID">  
              {{ formErrors.AreaID }}  
            </mat-error>  
          </mat-form-field>  
        </div> -->

        <!-- <div>  
          <mat-form-field appearance="outline">  
            <mat-label>IsActive</mat-label>  
            
            <input matInput placeholder="IsActive" formControlName="IsActive">
            <mat-error *ngIf="formErrors.IsActive">  
              {{ formErrors.IsActive }}  
            </mat-error>  
          </mat-form-field>  
        </div> -->

        <div>  
            <mat-label>Active</mat-label>  
          <mat-radio-group class="contact-radio-group" formControlName="IsActive" >  
            <mat-radio-button class="contact-radio-button" *ngFor="let option of YesNoOptions" [value]="option.id">  
              {{ option.name }}  
            </mat-radio-button>  
          </mat-radio-group>  
          <mat-error *ngIf="formErrors.IsActive">  
            {{ formErrors.IsActive }}  
          </mat-error>  
        </div> 
       
<!-- <div>
    <mat-form-field appearance="outline">  
      <mat-select placeholder="Select a Technology" formControlName="techno">  
        <mat-option>-- None --</mat-option>  
        <mat-option *ngFor="let techno  of technologies" [value]="techno">  
          {{ techno }}  
        </mat-option>  
      </mat-select>  
      <mat-error *ngIf="formErrors.techno ">  
        {{ formErrors.techno }}  
      </mat-error>  
    </mat-form-field>  
  </div>   -->
  <!-- <div>  
    <mat-form-field appearance="outline">  
      <textarea matInput placeholder="Message..." formControlName="message"></textarea>  
      <mat-error *ngIf="formErrors.message ">  
        {{ formErrors.message }}  
      </mat-error>  
    </mat-form-field>  
  </div>   -->
  <div>  
    
    <button type="button" mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>   
    <button type="submit" mat-raised-button color="primary" [disabled]="eventFrm.invalid">{{data.modalBtnTitle}}</button>  
  </div>  
    
  </form> 