<form  (ngSubmit)="onSubmit(cityFrm)" [formGroup]="cityFrm">  
  <h2>{{data.modalTitle}}</h2>  
    
  <div>
    <mat-form-field appearance="outline">  
      <mat-select placeholder="Select a State" formControlName="StateID">  
        <mat-option>-- None --</mat-option>  
        <mat-option *ngFor="let state of states" [value]="state.StateID">  
          {{ state.StateName }}  
        </mat-option>  
      </mat-select>  
      <mat-error *ngIf="formErrors.StateID ">  
        {{ formErrors.StateID }}  
      </mat-error>  
    </mat-form-field>  
  </div>
  
  <div>  
      <mat-form-field appearance="outline">  
      <mat-label>City Name</mat-label>  
      <input matInput placeholder="City Name" formControlName="CityName">  
      <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->  
      <!-- <mat-hint>Hint</mat-hint> -->  
      <mat-error *ngIf="formErrors.CityName">  
        {{ formErrors.CityName }}  
      </mat-error>  
    </mat-form-field>  
  </div>
 




 <!-- <div>  
    <mat-form-field appearance="outline">  
    <mat-label>Country ID</mat-label>  
    <input matInput placeholder="Country ID" formControlName="CountryID">  
    
  </mat-form-field>  
</div> 
<div>  
  <mat-form-field appearance="outline">  
  <mat-label>Country Name</mat-label>  
  <input matInput placeholder="Country Name" formControlName="CountryName">  
  
</mat-form-field>  
</div>  

<div>  
  <mat-form-field appearance="outline">  
  <mat-label>State Name</mat-label>  
  <input matInput placeholder="State Name" formControlName="StateName">  
  
</mat-form-field>  
</div>  
<div>  
  <mat-form-field appearance="outline">  
  <mat-label>User ID</mat-label>  
  <input matInput placeholder="User ID" formControlName="UserID">  
  
</mat-form-field>  
</div>  -->
  
  <div>  
    
    <button type="button" mat-raised-button color="warn" (click)="dialogRef.close()">Cancel</button>   
    <button type="submit" mat-raised-button color="primary" [disabled]="cityFrm.invalid">{{data.modalBtnTitle}}</button>  
  </div>  
    
  </form> 